/* шрифти логотип жирность 700
 */
/* заголовок font-weight: 900,заказать услугу font-weight:700,контакти font-weight: 500,*/

:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --hover-link-color: #2196f3;
  --hero-text-color: #ffffff;
  --background-button-color: #f5f4fa;
  --main-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --heder-background-color: #ffffff;
  --footer-authorise-coor: rgba(255, 255, 255, 0.6);
  --developed-color: rgba(255, 255, 255, 0.4);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
div {
  padding: 0;
  margin: 0;
}
/* контейнер */
.conteiner {
  width: 1170px;

  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: var(--main-background-color);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 3%;
  margin: 0;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  margin: 0;
}
.section-tittle {
  font-style: 700;
  font-size: 36px;
  line-height: 1.31;
  text-align: center;
  color: var(--tittle-text-color);
  margin: 0;
  margin-bottom: 50px;
}

header {
  background-color: var(--heder-background-color);
  color: var(--tittle-text-color);
}
.top .conteiner {
  display: flex;
  padding: 0;

  align-items: baseline;
}
.top-second .conteiner {
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: baseline;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 3%;
  text-align: center;
  color: var(--hover-link-color);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 85px;
}
span {
  color: var(--tittle-text-color);
}
.logo-nav,
.logo:hover,
.logo:focus {
  color: var(--hover-link-color);
}
.logo-nav {
  display: flex;
}
.site-nav .link,
.link-active {
  position: relative;
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  /* line-height: 1.11; */
  letter-spacing: 2%;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  margin: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-active::after {
  content: "";
  position: absolute;
  align-items: baseline;
  width: 100%;
  height: 4px;

  bottom: 0;
  left: 0;

  background: #2196f3;
  border-radius: 2px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-link-color);
}
.site-nav {
  margin: 0;

  display: flex;
}

.item:not(:last-child) {
  margin-right: 50px;
}

.link-active {
  color: var(--hover-link-color);
}

.authorise-nav {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;

  align-items: center;
}
.authorise-nav .link:hover,
.authorise-nav .link:focus {
  color: var(--hover-link-color);
}
.item .link {
  display: flex;
  align-items: center;
}
.mail {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
}

.authorise-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 2%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authorise-nav .item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section-caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--tittle-text-color);
  margin: 0px 0px 10px 0px;

  text-transform: uppercase;
}
/* .image {
  padding: 25px 100px;
  border-radius: 4px;
  display: block;

  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
} */

.filter {
  color: var(--tittle-text-color);
}

/* колір замінити на білий */

.hero {
  /* display: block; */
  height: 600px;
  max-width: 1600px;
  /* padding: 200px 0 200px 0; */
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/Header img.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-hero {
  padding-top: 200px;
  margin: 0px 0px 30px 0px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  text-transform: uppercase;
  text-align: center;
  color: var(--hero-text-color);
  height: 120px;
}

/*  button*/

.button-main {
  display: inline-block;
  background-color: var(--hover-link-color);
  color: var(--hero-text-color);
  font-family: Roboto, sans-serif;
  text-align: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  min-width: 200px;
  height: 50px;

  top: 430px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 0;
  cursor: pointer;
}

.button-main:focus {
  color: var(--hero-text-color);
}
.our-advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages:hover,
.advantages:focus {
  color: var(--hover-link-color);
}
.advantage {
  margin: 0;
  padding: 0;

  display: flex;
  align-content: center;
  flex-wrap: nowrap;
}
.advantages {
  width: 270px;
}
.advantages:not(:last-child) {
  margin-right: 30px;
}
.icon-svg {
  display: inline-flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4%;
  justify-content: center;
  align-items: center;
}
/* .advantages::before {
  display: block;
  height: 120px;
  content: "";
  /* background-size: contain; */
/* background-size: 70px;

  background-image: url(../images/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;

  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
} */
/* .advantages:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}
.advantages:nth-child(2)::before {
  background-image: url(../images/clock.svg);
} */
/* .advantages:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}
.advantages:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
} */

.section-heading {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
}

.featcher .conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}
.featchers {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;

  /* background-color: yellowgreen;
  outline: 5px solid sandybrown; */
}
.featchers .peculiarity + .peculiarity {
  margin-left: 30px;
}

.peculiarity {
  position: relative;
  width: 370px;
  height: 294px;
}
.peculiarity .peculiarity-img {
  display: block;
}
.featchers-text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 70px;
  padding: 0;
  margin: 0;

  background: rgba(47, 48, 58, 0.8);
}
.featchers .products {
  color: var(--hero-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
}
.featchers .section-tittle {
  margin-bottom: 50px;
}
.products {
  padding: 27px 82px 27px 83px;
}
.team {
  /* замінити на  --background-button-color */
  background-color: var(--background-button-color);
  text-align: center;
  line-height: 1.9;
}

.conteiner-team {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  width: 1170px;
  /* outline: 5px solid paleturquoise; */
}

.section-team {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}
.employee + .employee {
  margin-left: 30px;
}
.employee {
  border-radius: 4px;
  background-color: var(--hero-text-color);
  width: 270px;
  cursor: pointer;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.section-workers {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.workers-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}
.links-item .social {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--hero-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links-item .social:hover,
.links-item .social:focus {
  background-color: var(--hover-link-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-item .icon-worker {
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover .icon-worker,
.social:focus .icon-worker {
  fill: var(--hero-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-item:not(:last-child) {
  margin-right: 10px;
}
.social-links {
  display: flex;
  padding-right: 31px;
  padding-bottom: 24px;
  padding-left: 32px;
}

.clients {
  padding: 0;
  padding-bottom: 94px;
  padding-top: 94px;
}

.regular-clients {
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
}
.img-link {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  width: 170px;
  height: 90px;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .customers + .customers {
  margin-left: 30px;
}
.img {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers {
  width: calc((100% - 150px) / 6);
}

.img-link:hover,
.img-link:focus {
  border-color: var(--hover-link-color);
}
.img-link:hover .img,
.img-link:focus .img {
  fill: var(--hover-link-color);
}

/* ПОРТФОЛІО */
.portfolio .conteiner {
  padding-top: 93px;
  padding-bottom: 94px;
}

.section-filter {
  font-size: 16px;
  line-height: 1.88;
  text-align: left;

  color: var(--primary-text-color);
}

.portfolio .filter {
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.photo {
  position: relative;
  overflow: hidden;
}

.section-speech {
  position: absolute;

  top: 0;
  left: 0;
  color: var(--hero-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  align-items: center;
  display: block;
  /* width: 322px;
  height: 168px; */
  padding: 0;
  padding: 63px 24px;
  margin: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .section-speech:hover {
  opacity: 1;
} */
/* .portfolio-card:hover .photo::before {
  transform: translateY(0);
  opacity: 1;
} */
.portfolio-card:hover .section-speech {
  transform: translateY(0);
  opacity: 1;
}

.filter {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  justify-content: center;
}
.filter {
  display: block;
  display: flex;
}
.button-list:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  height: 38px;
  border-radius: 4px;
  border: 0;
  text-align: center;
  font-family: Roboto, sans-serif;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--hero-text-color);
  background-color: var(--hover-link-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.examples {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  flex-wrap: wrap;
}
.swatch-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.swatch-item {
  margin-right: 30px;
  display: block;
  margin-bottom: 30px;
  border-radius: 5px;
}
.swatch-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-card {
  width: 370px;
  height: 404px;
  display: block;
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  /* box-shadow: 10px 5px 5px red; */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.template {
  display: block;
  margin: 0;
}
.card {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section-main {
  margin: 0;
  display: none;
}
.section-heading {
  margin: 0;
  margin-bottom: 4px;
}
.section-filter {
  margin: 0;
  padding: 0;
}
/* футер */
footer {
  background-color: var(--footer-background-color);
  margin: 0;
  padding: 0;
}
.authorise-nav-footer .link {
  color: var(--footer-authorise-coor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.authorise-nav-footer .link:hover,
.authorise-nav-footer .link:focus {
  color: var(--hover-link-color);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.authorise-nav-footer {
  margin: 0;
  padding: 0;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  margin-bottom: 10px;
  color: var(--hover-link-color);
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--hover-link-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-footer span {
  color: var(--hero-text-color);
}
.link-item .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-text-color);
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-item .social:hover,
.link-item .social:focus {
  background-color: var(--hover-link-color);
}
.link-item:not(:last-child) {
  margin-right: 10px;
}
.bottom .conteiner {
  display: flex;
  /* justify-content: space-between; */
  align-items: baseline;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  padding-top: 48px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
address {
  color: var(--main-background-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.66;
}
.button-subscription {
  display: flex;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;

  border-radius: 4px;
  border: 0;
  font-family: Roboto, sans-serif;
  color: var(--hero-text-color);
  background-color: var(--hover-link-color);
  align-items: center;
  cursor: pointer;
}
.button-subscription:focus,
.button-subscription:hover {
  background-color: var(--hover-link-color);
  color: var(--hero-text-color);
}
.button-icon {
  display: flex;
  margin-left: 10px;
  fill: var(--hero-text-color);
}

.bottom-address {
  margin-right: 69px;
  width: 231px;
}
.join {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--hero-text-color);
  text-align: center;
}
.join-text {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
}

.invitation {
  color: var(--hero-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 21px;
  margin: 0;
}

.footer-invitation {
  width: 207px;

  margin-right: 93px;
}

.invitation-links {
  display: flex;
  margin: 0;
  padding: 0;
}
.invitation-links .link-item {
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  background-position: center;

  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list:not(:last-child) {
  margin-right: 10px;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  fill: var(--hero-text-color);

  align-items: center;
}

.footer-developed {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;

  margin: 0;
  padding-top: 18px;
  padding-bottom: 21px;

  color: var(--developed-color);
}
.footer-link:not(:last-child) {
  margin-bottom: 9px;
}

.text-address {
  margin: 0;
  margin-bottom: 9px;
}
